@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
.cart__container{
    width: 100%;
    margin-top: 2rem;
    z-index: 299 !important;
}
.cart__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__itemlist-container {
    width: 50vw;
    max-width: 70%;
}

.cart__item-container {
    display: grid; 
    grid-template-columns: .3fr 1fr .4fr 1fr .6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
     grid-template-areas: 
    "img name price qty remove";
    justify-content: space-around; 
    align-content: end; 
    justify-items: center; 
    align-items: center; 
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(1, 2, 1, 0.065) !important;
    box-shadow: 0px 0px 0px 0px rgb(1,1,1);
    background-color:rgb(216, 221, 216)
}

.cart__item-container:hover {
    position: relative;
    box-shadow: 0px 0px 2px 0px rgb(1,1,1);
    animation: hovercart 100ms ease-out;
}
@keyframes hovercart {
    from {
 
        box-shadow: 0px 0px 0px 0px rgb(1,1,1);
    }
    to {

        box-shadow: 0px 0px 2px 0px rgba(1, 1, 1, 0.521);
        }
}

.cart__image-box { grid-area: img; }
.cart__name-box { grid-area: name; }
.cart__quantity-box { grid-area: price; }
.cart__price-box { grid-area: qty; }
.cart__remove { grid-area: remove; }

.cart__checkout-container {
    width: 50vw;
    max-width: 70%;
}
.cart__checkout-total {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(1, 2, 1, 0.065) !important;
    box-shadow: 0px 0px 0px 0px rgb(1,1,1);
    background-color:rgb(216, 221, 216)
}
.cart__subtotal {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.cart__envio {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.cart__total {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn--quitar--producto {
    font-size: .8rem !important; 
    padding: 7px !important;
}
.btn--quitar--producto:hover{
    padding: 9px !important;
}

.cart__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    
    min-height: 3.5rem;
    max-height: 3.5rem;
    min-width: 100%;
    max-width: 100%;
}

.cart__goback-container {
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    text-decoration: none;
    border: none;
    background-color:rgb(234, 179, 8);
    border-radius: 2px;
    padding: 9px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: .9rem;
    color: white;
}

.btn:hover {
    background-color: rgb(212, 159, 0);
    transition: 350ms ease;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: white;
}

@media screen and (max-width: 920px) {
    .cart__checkout-container {
        width: 100%;
        max-width: 80%;
    }
    .cart__itemlist-container {
        width: 100%;
        max-width: 80%;
    }
}
@media screen and (max-width: 740px) {
    .cart__checkout-container {
        width: 100%;
        max-width: 80%;
    }
    .cart__itemlist-container {
        width: 100%;
        max-width: 80%;
    }
}
@media screen and (max-width: 720px) {
    .cart__checkout-container {
        width: 100%;
        max-width: 85%;
    }
    .cart__itemlist-container {
        width: 100%;
        max-width: 85%;
    }
}
@media screen and (max-width:480px) {
    .cart__checkout-container {
        width: 100%;
        max-width: 90%;
    }
    .cart__itemlist-container {
        width: 100%;
        max-width: 90%;
    }
}